<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>jsonproxy</title>
	</head>
	<body>
		{% for endpoint in endpoints %}
		<section>
			<h2>{{ endpoint.title }} ({{ endpoint.type }})</h2>
			<p>{{ endpoint.doc }}</p>
			{% if endpoint.fields %}
			<dl>
				{% for name, doc, fields in endpoint.fields recursive %}
				<dt>{{ name }}</dt>
				<dd>
					{{ doc }}

					{% if fields %}
					<dl>
						{{ loop(fields) }}
					</dl>
					{% endif %}
				</dd>
				{% endfor %}
			</dl>
			{% endif %}
		</section>
		{% endfor %}
	</body>
</html>
